
<div class='w-screen min-h-screen' style='background:rgba(0,0,0,0.009)'>
    <div class='grid grid-cols-12'>
        <div class='col-span-2 h-screen pt-24' style='background:#52796f'>
            <app-admin-sidebar (switchTab)="switchTab($event)"></app-admin-sidebar>
        </div>
        <div class='col-span-10'>
            <app-header></app-header>
            <app-add-vehicle *ngIf='tabs.add_vehicle'></app-add-vehicle>
            <app-new-route *ngIf='tabs.new_route'></app-new-route>
            <app-routes *ngIf='tabs.routes'></app-routes>
            <app-vehicles *ngIf='tabs.vehicles'></app-vehicles>
        </div>
    </div>
</div>