
<div class='w-screen min-h-screen' style='background:rgba(0,0,0,0.009)'>
    <div class='grid grid-cols-12'>
        <div class='h-screen pt-24 sidebar bg-coppergreen'>
            <app-admin-sidebar (switchTab)="switchTab($event)"></app-admin-sidebar>
        </div>
        <div class='col-span-12 main'>
            <app-header></app-header>
            <app-all-requests *ngIf='tabs.requests'></app-all-requests>
            <app-add-vehicle *ngIf='tabs.add_vehicle'></app-add-vehicle>
            <app-new-route *ngIf='tabs.new_route'></app-new-route>
            <app-routes *ngIf='tabs.routes'></app-routes>
            <app-vehicles *ngIf='tabs.vehicles'></app-vehicles>
            <app-drivers *ngIf='tabs.drivers'></app-drivers>
        </div>
    </div>
</div>