<div class='w-screen h-screen' style='background:#FBFBFB;'>
    <div class='grid grid-cols-12 h-full bsm:items-center pt-5 sm:pt-0 bsm:pb-10'>
        <div class='col-span-12 bsm:col-start-1 md:col-start-2 bsm:col-end-7 flex flex-row items-center'>
            <img class='relative' src='/assets/images/errors/car.svg'>
        </div>
        <div class='col-span-12 px-8 sm:px-24 bsm:px-0 bsm:pr-8 md:pr-0 lg:pl-3 bsm:col-start-7 bsm:col-end-13 md:col-end-12 lg:col-end-11 flex flex-col items-center bsm:items-start md:pt-8 quicksand lowercase'>
            <p class='m-0 mb-1 md:mb-2 relative' style='font-size:1.8em; left:2px;'>Page not found</p>
            <p class='m-0 mb-5 sm:mb-4 text-xl text-justify bsm:text-left leading-8 ml-1'>We are sorry. After trying really hard we could not find the page you were looking for.
                It likely does not exist or has been moved <i class='em em-anguished relative' style='top:-2px;'></i>
            </p>
            <a routerLink='/' class='cursor-pointer ml-1 form__shadow bg-coppergreen btn text-white p-3 relative' style='width:max-content;'>return Home</a>
        </div>
    </div>
</div>