

<div class='w-screen min-h-screen' style='background:rgba(0,0,0,0.009)'>
    <div class='grid grid-cols-12'> 
        <div class='h-screen pt-24 sidebar bg-coppergreen'>
            <app-sidebar (switchTab)='switchTab($event)'></app-sidebar>
        </div>
        <div [ngClass]="{'h-screen':display | async, 'overflow-y-hidden':display | async}" class='col-span-12 main'>
            <app-header></app-header>
            <app-all-requests *ngIf='tabs.all_requests'></app-all-requests>
            <app-request *ngIf='tabs.request' (switch)="switchTab($event)" [vehicle]='selectedVehicle'></app-request>
            <app-routes *ngIf='tabs.routes'></app-routes>
            <app-vehicles (requestVehicle)="switchTab('request', $event)" *ngIf='tabs.vehicles'></app-vehicles>
            <app-report (view)="switchTab($event)" *ngIf='tabs.report'></app-report>
            <app-maintenance *ngIf='tabs.maintenance'></app-maintenance>
        </div>
    </div>
</div>