
.header__main
{
    min-width:175px;
}


.options__parent
{
    background:rgba(8, 8, 8, 0.4);
    top:calc(140% + 15px);
    width:137px;
    left:15%;
    opacity:0;
}

.options__parent.active
{
    top:140%;
    opacity:1;
}

.options__parent::before
{
    position: absolute;
    top:-24px;
    display:block;
    content:'';
    border:12px solid rgba(0,0,0,0.4);
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
}

@media(max-width:1025px)
{
    img
    {
        border-radius:13px;
    }

    .nav__icon
    {
        width:50px;
        height:50px;
    }
}

@media(max-width:576px)
{
    .nav__icon
    {
        border-radius:3px;
        width:42px;
        height:42px;
    }
}
