
<div class='grid grid-cols-12 quicksand px-6 bsm:px-12 lg:px-0' *ngIf='dataFetched'>

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 text-center flex flex-row justify-center items-center no__resource' *ngIf='vehicles.length == 0'>
        <div class='flex flex-col items-center relative'>
            <img class='mb-2 mr-5' width='50px' height='50px' src='/assets/images/error/risk.png'>
            <p class='m-0 text-lg'>no vehicles to display</p>
        </div>
    </div>

    <div [class.pb-6]='pages == 1' class='col-span-12 lg:col-start-2 lg:col-end-12 grid grid-cols-12 flex flex-col' *ngIf='vehicles.length > 0'>
        <div class='col-span-12 bsm:col-span-6 lg:col-span-4 mx-2 text-gray-800 shadow-md bg-white lg:bg-transparent mb-4 p-4 flex flex-col' *ngFor='let vehicle of vehicles; let j = index'>
            <div class='flex flex-row justify-between items-center mb-4'>
                <div class='relative'>
                    <img src='{{ vehicle.picture }}' class='h-16 w-16 object-cover'>
                     <div (click)='viewImage(vehicle.picture)' class='cursor-pointer absolute top-0 left-0 mr-4 w-16 h-full' style='background:rgba(0,0,0,0.1)'></div>
                </div>
                <div class='flex flex-row mr-4' *ngIf='admin'>
                    <div *ngIf='vehicle.active && !vehicle.pending && !determineInOperation(vehicle.reserved_till)'>
                        <a (click)='resetMileage(vehicle._id, j)' *ngIf='vehicle.active && !determineInOperation(vehicle.reserved_till) && admin && vehicle.mileage > 50' class='cursor-pointer underline mr-2'>service</a>
                        <a class='cursor-pointer underline mr-2' (click)='editVehicle(vehicle)'>edit</a>
                        <a class='cursor-pointer underline' (click)='changeVehicleStatus(vehicle._id, j, false)'>remove</a>
                    </div>
                    <div *ngIf='!vehicle.active && !vehicle.pending && !determineInOperation(vehicle.reserved_till)'>
                        <i class='fa fa-exclamation-triangle text-red-700 mr-2'></i>
                        <a class='cursor-pointer mr-2'>removed</a>
                        <a class='cursor-pointer underline' (click)='changeVehicleStatus(vehicle._id, j, true)'>add</a>
                    </div>
                    <div class='pending request text-black' *ngIf='vehicle.pending'>
                       requested
                    </div>
                    <div class='text-black flex flex-row items-center' *ngIf='determineInOperation(vehicle.reserved_till)'>
                        <i class='text-coppergreen fa fa-check-circle mr-2'></i>
                        <p class='m-0'>active</p>
                    </div>
                </div> 
                <div class='flex flex-row mr-10' *ngIf='!admin'>
                    <a class='cursor-pointer underline text-black rounded' (click)='request(vehicle)'>request</a>
                </div>
            </div>
            <div class='flex flex-col'>
                <p class='m-0 mb-1 lowercase font-semibold'>{{ vehicle.model }}</p>
                <p class='m-0 mb-1'>plate number - {{ vehicle.plate_number }}</p>
                <p class='m-0 mb-1'>{{ vehicle.trips }} trips. {{ vehicle.mileage }}km covered</p>
                <p class='m-0 mb-1'>added {{ getDate(vehicle.created_at) }}</p>
                <p class='m-0' *ngIf='vehicle.active && determineInOperation(vehicle.reserved_till)'>active till {{ getDate(vehicle.reserved_till) }}</p>
                <p class='m-0' *ngIf='vehicle.active && !determineInOperation(vehicle.reserved_till) && admin && vehicle.mileage < 50'>
                    available for requesting
                </p>
                <p class='m-0' *ngIf='vehicle.active && !determineInOperation(vehicle.reserved_till) && admin && vehicle.mileage > 50'>
                    <i class='fa fa-exclamation-triangle text-red-700 mx-1'></i>
                    in need of maintenance
                </p>
                <p class='m-0' *ngIf='!vehicle.active'>not available for requesting</p>
            </div>
        </div>
    </div>

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 flex flex-row my-5 px-2' *ngIf='pages > 1'>
        <div [ngClass]="{'bg-coppergreen':activePage == j+1, 'text-white':activePage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
         w-12 h-12 rounded mr-3 mb-3' (click)='getVehicles(j+1)' *ngFor='let i of [].constructor(pages); let j = index'>
            <p class='text-lg'>{{ j + 1 }}</p>
        </div>
    </div>
</div>