
<div class='grid grid-cols-12 quicksand px-5 mt-3' *ngIf='dataFetched'>
    <div class='col-start-2 col-end-12 grid grid-cols-12 flex flex-col'>
        <div class='col-span-4 mx-2 text-gray-800 shadow-md mb-4 p-4 flex flex-col' *ngFor='let vehicle of vehicles'>
            <div class='flex flex-row justify-between items-center mb-4'>
                <div class='relative'>
                    <img src='{{ vehicle.picture }}' class='h-16 w-16 object-cover'>
                     <div class='absolute top-0 left-0 mr-4 w-16 h-full' style='background:rgba(0,0,0,0.1)'></div>
                </div>
                <div class='flex flex-row mr-8' *ngIf='admin'>
                    <div *ngIf='!vehicle.pending && !determineInOperation(vehicle.reserved_till)'>
                        <a class='cursor-pointer underline mr-2' (click)='editVehicle(vehicle)'>edit</a>
                        <a class='cursor-pointer underline'>delete</a>
                    </div>
                    <div class='text-black' *ngIf='vehicle.pending'>
                       requested
                    </div>
                    <div class='text-black' *ngIf='determineInOperation(vehicle.reserved_till)'>
                        in operation
                    </div>
                </div> 
                <div class='flex flex-row mr-10' *ngIf='!admin'>
                    <a class='cursor-pointer underline text-black rounded' (click)='request(vehicle)'>request</a>
                </div>
            </div>
            <div class='flex flex-col'>
                <p class='m-0 mb-1 lowercase font-semibold'>{{ vehicle.model }}</p>
                <p class='m-0 mb-1'>plate number - {{ vehicle.plate_number }}</p>
                <p class='m-0 mb-1'>{{ vehicle.trips }} trips</p>
                <p class='m-0'>added {{ getDate(vehicle.created_at) }}</p>
            </div>
        </div>
    </div>

    <div class='col-start-2 col-end-12 flex flex-row my-5 px-2' *ngIf='pages > 1'>
        <div [ngClass]="{'bg-coppergreen':activePage == j+1, 'text-white':activePage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
         w-12 h-12 rounded mr-3 mb-3' (click)='getVehicles(j+1)' *ngFor='let i of [].constructor(pages); let j = index'>
            <p class='text-lg'>{{ j + 1 }}</p>
        </div>
    </div>
</div>