
<div class='grid grid-cols-12 quicksand lowercase px-6 bsm:px-12 lg:px-0' *ngIf='dataFetched'>

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 text-center flex flex-row justify-center items-center no__resource' *ngIf='routes.length == 0'>
        <div class='flex flex-col items-center relative'>
            <img class='mb-2 mr-5' width='50px' height='50px' src='/assets/images/error/risk.png'>
            <p class='m-0 text-lg'>no routes to display</p>
        </div>
    </div>

    <div [class.pb-6]='pages == 1' class='col-span-12 lg:col-start-2 lg:col-end-12 grid grid-cols-12 flex flex-col' *ngIf='routes.length > 0'>
        <div class='col-span-12 bsm:col-span-6 lg:col-span-4 bg-white shadow-md flex flex-col mx-2 mb-4 p-5' *ngFor='let route of routes; let j = index'>
            <div class='flex flex-row justify-between items-center'>
                <div class='w-12 h-12 text-white flex flex-row justify-center bg-coppergreen items-center font-semibold'>
                    <p class='m-0'>{{ route.from | slice:0:1 }}{{ route.to | slice:0:1 }}</p>
                </div>
                <div class='flex flex-row mr-5 text-gray-700' *ngIf='admin && route.active'>
                    <a class='m-0 mr-2 underline cursor-pointer' (click)='editRoute(route)'>edit</a>
                    <a class='m-0 underline cursor-pointer' (click)='patchRoute(route._id, j, false)'>cancel</a> 
                </div>
                <div class='flex flex-row mr-5 text-gray-700' *ngIf='admin && !route.active'>
                    <a class='m-0 mr-2 cursor-pointer' (click)='editRoute(route)'>cancelled</a>
                    <a class='m-0 underline cursor-pointer' (click)='patchRoute(route._id, j, true)'>add</a> 
                </div>
            </div>
            <div class='flex flex-col text-gray-800 mt-4'>
                <p class='m-0'>{{ route.from }}-{{ route.to }}</p>
                <p class='m-0'>{{ route.description }}</p>
                <p class='m-0'>{{ route.distance }}km distance. {{ route.trips }} trips</p> 
                <p class='m-0'>{{ getDateString(route.created_at) }}</p>
            </div>
        </div>
    </div>

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 flex flex-row my-5 px-2' *ngIf='pages > 1'>
        <div [ngClass]="{'bg-coppergreen':activePage == j+1, 'text-white':activePage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
         w-12 h-12 rounded mr-3 mb-3' (click)='getRoutes(j+1)' *ngFor='let i of [].constructor(pages); let j = index'>
            <p class='text-lg'>{{ j + 1 }}</p>
        </div>
    </div>
</div>