<div class='bg-honeydew w-screen relative' style='height:80vh'>
    <div class='grid grid-cols-12 h-full items-center'>
        <div class='col-start-2 col-end-6'>
            <img src='/assets/images/home/taxi.png'>
        </div>
        <div class='col-start-7 col-end-10 flex flex-col text-black quicksand font-semibold brand__text relative'>
            <p class='m-0 text-2xl mb-5'>Efficient Transport Management that works. All the time. Everytime.</p>
            <a routerLink='/auth/signup' class='btn p-4 text-white shadow-xl quicksand bg-coppergreen' style='width:fit-content;'>
                Try Moto out now 
            </a>
        </div>
    </div>

    <div class='absolute top-0 left-0 w-screen flex flex-row justify-between py-5 px-8 quicksand'>
        <p class='m-0'>moto</p>

        <div class='flex flex-row'>
            <a routerLink='/auth/signup' class='mr-3'>signup</a>
            <a routerLink='/auth/login'>login</a>
        </div>
    </div>
</div>
<div class='py-20 grid grid-cols-12' style='background:#FFF;'>
   <div class='col-start-2 col-end-12 grid grid-cols-12 items-center px-8'>
        <div class='flex flex-col col-start-1 col-end-7 quicksand'>
            <p class='m-0 text-2xl font-semibold mb-4' style='line-height:1.6em'>Take advantage of our efficient vehicle allocation services</p>
            <p class='m-0 text-lg text-justify pr-4' style='line-height:1.6em'>
                Getting a vehicle does not have to be this time consuming intensive process. With Moto say goodbye to all hassles
                involved in the vehicle allocation process. You are sure to see an uptick in efficiency with Moto. Also, with Moto logs, 
                easily keep track of maintenance issues with seamless mechanisms for recording issues.
            </p>
        </div>
        <div class='col-start-8 col-end-13'>
            <img src='/assets/images/home/path.png'>
        </div>
   </div>
</div>
<!-- #6a8d73 -->
<div class='py-16 grid grid-cols-12 text-white quicksand' style='background:#335145'>
    <div class='col-start-2 col-end-5 flex flex-col'>
        <p class='m-0 text-2xl mb-4 font-semibold'>
            Moto
        </p>
        <p class='m-0'>An efficient solution to the problem of transport management. Providing you the best in
            vehicle allocation and maintenance services. </p>
    </div>
    <div class='col-start-6 col-end-9 flex flex-col'>
        <p class='m-0 text-2xl mb-4 font-semibold'>Contact</p>
        <p class='m-0 mb-3'>
            <i class='fas fa-map-marker-alt mr-3'></i>
            3, Bisi Awosika street, Ologolo, Lekki
        </p>
        <p class='m-0 mb-3'>
            <i class='fas fa-phone-alt mr-3'></i>
            +2348179868840
        </p>
        <p class='m-0'>
            <i class='fa fa-envelope mr-3'></i>
            support@moto.org
        </p>
    </div>
    <div class='col-start-10 col-end-12'>
        <p class='m-0 text-2xl mb-4 font-semibold'>Social Media</p>
        <p class='m-0 mb-3'>
            <i class='fab fa-facebook mr-3'></i>
            <a href='http://facebook.com' target="blank">Facebook</a>
        </p>
        <p class='m-0 mb-3'>
            <i class='fab fa-twitter mr-3'></i>
            <a href='http://twitter.com/f_olamileke' target="blank">Twitter</a>
        </p>
        <p class='m-0'>
            <i class='fab fa-instagram mr-4'></i>
            <a href='http://instagram.com/f_olamileke' target="blank">Instagram</a>
        </p>
    </div>
</div>