<div class='bg-honeydew w-screen relative landing__content px-8 xs:px-10 sm:px-0'>
    <div class='grid grid-cols-12 h-full items-center' *ngIf='!sm__lg'>
        <div class='hidden sm:block col-start-2 col-end-8 pr-10 lg:pr-0 lg:col-end-6'>
            <img src='/assets/images/home/taxi.png'>
        </div>
        <div class='pl-0 md:pl-3 lg:pl-0 pt-10 sm:pt-6 md:pt-0 col-span-10 sm:col-start-8 sm:col-end-12 lg:col-start-7 lg:col-end-10 flex flex-col text-black quicksand font-semibold brand__text relative'>
            <p class='m-0 text-xl md:text-2xl mb-3 md:mb-5 firefox__font'>Efficient Transport Management that works. All the time. Everytime.</p>
            <a routerLink='/auth/signup' class='btn firefox__font p-4 text-white shadow-xl quicksand bg-coppergreen' style='width:max-content;'>
                Try Moto out now 
            </a>
        </div>
    </div>

    <div class='grid grid-cols-12 h-full items-center' *ngIf='sm__lg'>
        <div class='col-start-2 col-end-7 pr-5 md:pr-10 mt-12 md:mt-8 flex flex-col text-black quicksand font-semibold brand__text relative'>
            <p class='m-0 text-xl md:text-2xl mb-3 md:mb-5 firefox__font'>Efficient Transport Management that works. All the time. Everytime.</p>
            <a routerLink='/auth/signup' class='btn firefox__font p-4 text-white shadow-xl quicksand bg-coppergreen' style='width:max-content;'>
                Try Moto out now 
            </a>
        </div>
        <div class='col-start-7 col-end-12 mt-8 bsm:mt-4 md:mt-0'>
            <img src='/assets/images/home/taxi.png'>
        </div>
    </div>

    <div class='absolute top-0 left-0 w-screen flex flex-row justify-between py-5 px-4 sm:px-5 lg:px-6 quicksand'>
        <p class='m-0'>moto</p>

        <div class='flex flex-row'>
            <a routerLink='/auth/signup' class='mr-3'>signup</a>
            <a routerLink='/auth/login'>login</a>
        </div>
    </div>
</div>
<div class='py-12 sm:py-20 grid grid-cols-12'>
   <div class='col-span-12 sm:col-start-2 sm:col-end-12 grid grid-cols-12 items-center px-8' *ngIf='!md__lg'>
        <div class='flex flex-col col-start-1 col-end-13 md:col-end-7 quicksand'>
            <p class='m-0 firefox__font text-lg text-left bsm:text-2xl font-semibold lg:font-medium mb-2 bsm:mb-4' style='line-height:1.6em'>Take advantage of our efficient vehicle allocation services</p>
            <p class='m-0 text-lg text-justify sm:pr-4' style='line-height:1.6em'>
                Getting a vehicle does not have to be this time consuming intensive process. With Moto say goodbye to all hassles
                involved in the vehicle allocation process. You are sure to see an uptick in efficiency with Moto. Also, with Moto logs, 
                easily keep track of maintenance issues with seamless mechanisms for recording issues.
            </p>
        </div>
        <div class='hidden md:block col-start-8 col-end-13'>
            <img src='/assets/images/home/path.png'>
        </div>
   </div>

   <div class='col-start-1 pl-20 col-end-12 grid grid-cols-12 items-center px-8' *ngIf='md__lg'>
        <div class='col-start-1 col-end-6'>
            <img src='/assets/images/home/path.png'>
        </div>
        <div class='flex flex-col col-start-6 pl-10 col-end-13'>
            <p class='m-0 firefox__font text-xl text-left bsm:text-2xl font-semibold lg:font-medium mb-2 bsm:mb-4' style='line-height:1.6em'>Take advantage of our efficient vehicle allocation services</p>
            <p class='m-0 text-lg text-justify sm:pr-4' style='line-height:1.6em'>
                Getting a vehicle does not have to be this time consuming intensive process. With Moto say goodbye to all hassles
                involved in the vehicle allocation process. You are sure to see an uptick in efficiency with Moto. Also, with Moto logs, 
                easily keep track of maintenance issues with seamless mechanisms for recording issues.
            </p>
        </div>
    </div>
</div>

<div class='p-8 py-12 sm:p-12 bsm:px-0 bsm:py-16 grid grid-cols-12 text-white quicksand bg-coppergreen lowercase'>
    <div class='col-span-12 mb-3 bsm:mb-0 bsm:col-start-2 bsm:col-end-6 sm:pr-10 md:pr-0 md:col-end-5 flex flex-col'>
        <p class='m-0 text-xl firefox__font bsm:text-2xl mb-4 font-medium'>
            moto
        </p>
        <p class='m-0'>An efficient solution to the problem of transport management. Providing you the best in
            vehicle allocation and maintenance services. </p>
    </div>
    <div class='col-span-12 mb-5 bsm:mb-0 bsm:col-start-6 bsm:col-end-10 sm:pr-10 md:pr-0 md:col-end-9 flex flex-col'>
        <p class='m-0 text-xl firefox__font bsm:text-2xl mb-4 font-medium'>contact</p>
        <p class='m-0 mb-3'>
            <i class='fas fa-map-marker-alt mr-3'></i>
            3, Bisi Awosika street, Ologolo, Lekki
        </p>
        <p class='m-0 mb-3'>
            <i class='fas fa-phone-alt mr-3'></i>
            +2348179868840
        </p>
        <p class='m-0'>
            <i class='fa fa-envelope mr-3'></i>
            support@moto.org
        </p>
    </div>
    <div class='col-span-12 bsm:mb-0 bsm:col-start-10 bsm:col-end-13 md:col-end-12'>
        <p class='m-0 text-xl firefox__font bsm:text-2xl mb-4 font-medium'>social media</p>
        <p class='m-0 mb-3'>
            <i class='fab fa-facebook mr-3'></i>
            <a href='http://facebook.com' target="blank">Facebook</a>
        </p>
        <p class='m-0 mb-3'>
            <i class='fab fa-twitter mr-3'></i>
            <a href='http://twitter.com/f_olamileke' target="blank">Twitter</a>
        </p>
        <p class='m-0'>
            <i class='fab fa-instagram mr-4'></i>
            <a href='http://instagram.com/f_olamileke' target="blank">Instagram</a>
        </p>
    </div>
</div>