
<div class='grid grid-cols-12 quicksand form__route__container items-center px-6 sm:px-0'>
    <div class='col-span-12 sm:col-start-2 sm:col-end-12 lg:col-start-3 lg:col-end-10 flex flex-col mt-10 sm:mt-12 bsm:mt-0 lg:mt-10 form__parent'>
        <div class='mb-3 bg-white p-5 shadow-md text-gray-600'>
            add a new route 
        </div>
        <div class='bg-white'>
            <div class='px-6 py-8 shadow-md'>
                <form [formGroup]='newForm' (ngSubmit)="submit(newForm)">
                    <div class='flex flex-col mb-5'>
                        <label for='from' class='text-gray-600 text-sm mb-2'>from</label>
                        <input id='from' formControlName='from' class='input lowercase text-gray-600 focus:outline-none border p-3'>
                        <p class='text-xs mt-2 text-scarletred' *ngIf='from.dirty && from.invalid'>route origin must be at least 3 characters</p>
                    </div>
                    <div class='flex flex-col mb-5'>
                        <label for='to' class='text-gray-600 text-sm mb-2'>to</label>
                        <input id='to' formControlName='to' class='input lowercase text-gray-600 focus:outline-none border p-3'>
                        <p class='text-xs mt-2 text-scarletred' *ngIf='to.dirty && to.invalid'>route destination must be at least 3 characters</p>
                    </div>
                    <div class='flex flex-col mb-5'>
                        <label for='distance' class='text-gray-600 text-sm mb-2'>distance(kilometres)</label>
                        <input id='distance' type='number' formControlName='distance' class='input lowercase text-gray-600 focus:outline-none border p-3'>
                    </div>
                    <div class='flex flex-col mb-5'>
                        <label for='description' class='text-gray-600 text-sm mb-2'>short description</label>
                        <textarea id='description' formControlName='description' rows='3' class='input lowercase p-3 border text-gray-600 focus:outline-none w-full'></textarea>
                        <p class='text-xs mt-2 text-scarletred' *ngIf='description.dirty && description.invalid'>description must be at least 40 characters</p>
                    </div>
                    <div>
                        <button class='focus:outline-none px-3 py-2 bg-coppergreen btn text-white text-base rounded' [disabled]='newForm.invalid'>create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>