<div class='w-screen h-screen grid grid-cols-12' style='background:#FBFBFB'>
    <div class='hidden md:flex col-start-2 col-end-7 h-full flex-row items-center'>
        <img src='/assets/images/auth/taxi.svg'>
    </div>
    <div class='col-start-2 col-end-12 sm:col-start-3 sm:col-end-11 md:col-start-8 md:col-end-12 lg:col-end-11 flex flex-row items-center'>
        <form [formGroup]='resetForm' (ngSubmit)='reset(resetForm)' class='p-5 border w-full quicksand'>
            <div class='flex flex-col mb-5'>
                <label class='mb-2 text-gray-600 text-sm' for='password'>password</label>
                <input type='password' id='password' formControlName='password' class='focus:outline-none text-sm text-gray-600 p-3 bg-transparent border'>
                <p class='m-0 mt-2 text-xs' style='color:#EA3C53' *ngIf='password.dirty && password.invalid'>password must be at least 8 characters</p>
            </div>
            <div class='flex flex-col'>
                <button type='submit' class='focus:outline-none text-white bg-coppergreen btn px-3 py-2 rounded mb-2' style='width:max-content;' [disabled]='resetForm.invalid'>reset</button>
            </div>
        </form>
    </div>
</div>

<div class='fixed top-0 p-3 pl-4 sm:p-5 sm:pl-6 quicksand text-gray-600'>
    <a routerLink='' class='mr-2'>moto</a>
</div>