<div class='w-screen h-screen grid grid-cols-12' style='background:#FBFBFB'>
    <div class='hidden md:flex col-start-2 col-end-7 h-full flex-row items-center'>
        <img src='/assets/images/auth/taxi.svg'>
    </div>
    <div class='col-start-2 col-end-12 sm:col-start-3 sm:col-end-11 md:col-start-8 md:col-end-12 lg:col-end-11 flex flex-row items-center'>
        <form [formGroup]='signupForm' (ngSubmit)='signup(signupForm)' class='p-5 border w-full quicksand' *ngIf="authType == 'signup'">
            <div class='flex flex-col mb-3'>
                <label class='mb-2 text-gray-600 text-sm' for='name'>name</label> 
                <input type='text' id='name' formControlName='name' class='capitalize focus:outline-none text-sm text-gray-600 p-3 bg-transparent border'>
                <p class='m-0 mt-2 text-xs text-scarletred' *ngIf='signupName.dirty && signupName.invalid'>name must be at least 6 characters</p>
            </div>
            <div class='flex flex-col mb-3'>
                <label class='mb-2 text-gray-600 text-sm' for='email'>email</label>
                <input type='email' id='email' formControlName='email' class='lowercase focus:outline-none text-sm text-gray-600 p-3 bg-transparent border'>
                <p class='m-0 mt-2 text-xs text-scarletred' *ngIf='signupEmail.dirty && signupEmail.invalid'>enter a valid email</p>
            </div>
            <div class='flex flex-col mb-5'>
                <label class='mb-2 text-gray-600 text-sm' for='password'>password</label>
                <input type='password' id='password' formControlName='password' class='focus:outline-none text-sm text-gray-600 p-3 bg-transparent border'>
                <p class='m-0 mt-2 text-xs text-scarletred' *ngIf='signupPassword.dirty && signupPassword.invalid'>password must be atleast 8 characters</p>
            </div>
            <div class='flex flex-col'>
                <button type='submit' class='focus:outline-none text-white bg-coppergreen btn px-3 py-2 rounded mb-2' style='width:max-content;' [disabled]='signupForm.invalid'>signup</button>
                <a class='text-gray-600 cursor-pointer' (click)="switchAuth('login')">login</a>
            </div>
        </form>
        <form [formGroup]='loginForm' (ngSubmit)='login(loginForm)' class='p-5 border w-full quicksand' *ngIf="authType == 'login'">
            <div class='flex flex-col mb-3'>
                <label class='mb-2 text-gray-600 text-sm' for='email'>email</label>
                <input type='email' id='email' formControlName='email' class='lowercase focus:outline-none text-sm text-gray-600 p-3 bg-transparent border'>
                <p class='m-0 mt-2 text-xs text-scarletred' *ngIf='loginEmail.dirty && loginEmail.invalid'>enter a valid email</p>
            </div>
            <div class='flex flex-col mb-5'>
                <label class='mb-2 text-gray-600 text-sm' for='password'>password</label>
                <input type='password' id='password' formControlName='password' class='focus:outline-none text-sm text-gray-600 p-3 bg-transparent border'>
                <p class='m-0 mt-2 text-xs text-scarletred' *ngIf='loginPassword.dirty && loginPassword.invalid'>password must be at least 8 characters</p>
            </div>
            <div class='flex flex-col'>
                <button type='submit' class='focus:outline-none text-white bg-coppergreen btn px-3 py-2 rounded mb-2' style='width:max-content;' [disabled]='loginForm.invalid'>login</button>
                <a class='text-gray-600 cursor-pointer mb-2' (click)="verifyEmail()" style='font-size:0.95em;'>forgot password</a>
                <a class='text-gray-600 cursor-pointer' (click)="switchAuth('signup')" style='font-size:0.95em;'>signup</a>
            </div>
        </form>
    </div>
</div>

<div class='fixed top-0 p-3 pl-4 sm:p-5 sm:pl-6 quicksand text-gray-600'>
    <a routerLink='' class='mr-2'>moto</a>
</div>