

<div class='quicksand'>
    <ul class='px-6 text-white text-sm lowercase pt-10'>
        <li [class.shadow]='tabs.all_requests' (click)="switch('all_requests')" class='flex flex-row items-center px-4 py-3 mb-3 rounded cursor-pointer'>
            <i class='fa fa-tasks mr-5'></i>
            <p class='m-0'>requests</p>
        </li>
        <li [class.shadow]='tabs.routes' (click)="switch('routes')" class='flex flex-row items-center px-4 py-3 mb-3 rounded cursor-pointer'>
            <i class='fa fa-road mr-5'></i>
            <p class='m-0'>Routes</p>
        </li> 
        <li [class.shadow]='tabs.vehicles' (click)="switch('vehicles')" class='flex flex-row items-center px-4 py-3 mb-3 rounded cursor-pointer'>
            <i class='fa fa-car mr-5'></i>
            <p class='m-0'>Vehicles</p>
        </li>
        <li [class.shadow]='tabs.report' (click)="switch('report')" class='flex flex-row items-center px-4 py-3 mb-3 rounded cursor-pointer'>
            <i class='fa fa-exclamation-circle mr-5'></i>
            <p class='m-0'>Report Issue</p>
        </li>
        <li [class.shadow]='tabs.maintenance' (click)="switch('maintenance')" class='flex flex-row items-center px-4 py-3 mb-3 rounded cursor-pointer'>
            <i class='fa fa-tools mr-5'></i>
            <p class='m-0'>Maintenance</p>
        </li>
    </ul>
</div>