
<div class='grid grid-cols-12 quicksand mt-3' *ngIf='dataFetched'>
    <div class='col-start-3 col-end-10 pt-8 flex flex-col'>
        <div class='mb-2 bg-white p-5 shadow-md text-gray-600' style='border-color: rgba(0,0,0,0.03);'>
            Get the {{ vehicle.model }}
        </div>
        <div class='bg-white border shadow-md' style='border-color: rgba(0,0,0,0.03);'>
            <div class='px-6 py-8'>
                <form [formGroup]='requestForm' (ngSubmit)='submit(requestForm)'>
                    <div class='flex flex-col mb-5'>
                        <label for='route' class='text-gray-600 text-sm mb-2'>route</label>
                        <select id='route' formControlName='routeID' class='input focus:outline-none text-gray-600 border p-3'>
                            <option *ngFor='let rt of routes' value='{{ rt._id }}'>{{ rt.name }}</option>
                        </select>
                    </div>
                    <div class='flex flex-col mb-5'>
                        <label for='days' class='text-gray-600 text-sm mb-2'>days</label>
                        <input type='number' id='days' formControlName='days' class='input text-gray-600 focus:outline-none border p-3'>
                    </div>
                    <div>
                        <button class='focus:outline-none btn bg-coppergreen p-2 text-white text-base rounded' [disabled]='requestForm.invalid'>request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<img src='/assets/images/requests/reply.png' (click)='viewVehicles()' class='back__icon'>
