/* You can add global styles to this file, and also import other style files */

.btn:active
{
    background:rgba(82, 121, 111, 0.85);    
}

.input
{
    border-color:rgba(0,0,0,0.08);
}

.input:focus
{
    background:rgba(0,0,0,0.007);
}

.back__icon
{
    position:fixed;
    right:10vh;
    bottom:8vh;
    width:32px;
    height:32px;
    cursor:pointer;
    z-index:10;
}

.shadow
{
    box-shadow:0px 3px 8px 3px rgba(0,0,0,0.1);
}

.form__shadow
{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}