/* You can add global styles to this file, and also import other style files */


@-moz-document url-prefix()
{
    .firefox__font
    {
        font-weight:normal;
    }
}

.btn:active
{
    background:rgba(82, 121, 111, 0.85);    
}

.input
{
    border-color:rgba(0,0,0,0.08);
}

.input:focus
{
    background:rgba(0,0,0,0.007);
}

.input.select:focus
{
    box-shadow:0px 3px 8px 3px rgba(0,0,0,0.1);
    background:white;
}

.no__resource, .form__container
{
    height:calc(100vh - 88px);
}

.form__parent
{
    position: relative;
    top:-5vh;
}

.z--9999
{
    z-index:-9999;
}

.no__resource div
{
    top:-10vh;
}

.back__icon
{
    position:fixed;
    right:10vh;
    bottom:8vh;
    width:32px;
    height:32px;
    cursor:pointer;
    z-index:10;
}

.shadow
{
    box-shadow:0px 3px 8px 3px rgba(0,0,0,0.1);
}

.form__shadow
{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

@media(max-width:1025px)
{
    .no__resource, .form__container
    {
        height:calc(100vh - 136px);
    }

    .form__parent
    {
        top:-7.5vh;
    }

    .back__icon
    {
        right:3vh;
        bottom:3vh;
    }

    .no__resource div
    {
        top:-8vh;
    }
}

@media(max-width:768px)
{
    .no__resource, .form__container
    {
        height:calc(100vh - 120px);
    }

    .back__icon
    {
        right:4vh;
        bottom:4vh;
    }
}

@media(max-width:600px)
{
    .back__icon
    {
        right:3vh;
        bottom:3vh;
    }
}

@media(max-width:576px)
{
    .no__resource, .form__container
    {
        height:calc(100vh - 104px);
    }

    .form__parent
    {
        top:-5vh;
    }

    .no__resource div
    {
        top:-7vh;
    }
}

