
<div class='grid grid-cols-12 quicksand px-6 bsm:px-12 lg:px-5' *ngIf='dataFetched'>

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 text-center flex flex-row justify-center items-center no__resource' *ngIf='drivers.length == 0'>
        <div class='flex flex-col items-center relative'>
            <img class='mb-2 mr-5' width='50px' height='50px' src='/assets/images/error/risk.png'>
            <p class='m-0 text-lg'>no drivers to display</p>
        </div>
    </div>

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 grid grid-cols-12 flex flex-col' *ngIf='drivers.length > 0'>
        <div class='col-span-12 bsm:col-span-6 lg:col-span-4 mx-2 text-gray-800 shadow-md mb-4 p-4 flex flex-col' *ngFor='let driver of drivers'>
            <div class='flex flex-row justify-between items-center mb-4'>
                <div class='relative'>
                    <img src='{{ driver.avatar }}' class='h-16 w-16 object-cover'>
                    <div (click)='viewImage(driver.avatar)' class='cursor-pointer absolute top-0 left-0 mr-4 w-16 h-full' style='background:rgba(0,0,0,0.1)' *ngIf="!driver.avatar.includes('anon.png')"></div>
                </div>
                <div class='mr-12'>
                    <p class='m-0' *ngIf='determineInOperation(driver.busy_till)'>active</p>
                    <p class='m-0' *ngIf='!determineInOperation(driver.busy_till)'>free</p>
                </div>
            </div>
            <div class='flex flex-col'>
                <p class='m-0 mb-1 font-semibold' style='font-size:0.9em;'>{{ driver.name }}</p>
                <p class='m-0 mb-1'>joined {{ getDateString(driver.created_at) }}</p>
                <p class='m-0 mb-1'>{{ driver.trips }} trips</p>
                <p class='m-0' *ngIf='determineInOperation(driver.busy_till)'>busy till {{ getDateString(driver.busy_till) }}</p>
                <p class='m-0' *ngIf='!determineInOperation(driver.busy_till)'>available</p>
            </div>
        </div>
    </div> 

    <div class='col-span-12 lg:col-start-2 lg:col-end-12 flex flex-row my-5 px-2' *ngIf='pages > 1'>
        <div [ngClass]="{'bg-coppergreen':activePage == j+1, 'text-white':activePage == j+1}" class='cursor-pointer flex flex-row justify-center items-center
         w-12 h-12 rounded mr-3 mb-3' (click)='getDrivers(j+1)' *ngFor='let i of [].constructor(pages); let j = index'>
            <p class='text-lg'>{{ j + 1 }}</p>
        </div>
    </div>
</div>